<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost/gopassive/admin/">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="basic_elements">
        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
        <span class="menu-title">Forms</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="client-list.html">
        <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
        <span class="menu-title">Client List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="agent-list.html">
        <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
        <span class="menu-title">Agent List</span>
      </a>
    </li>
    <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
                <span class="menu-title">Content Managment</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="about.html">About us</a></li>
                  <li class="nav-item"> <a class="nav-link" href="terms.html">Terms & Condition</a></li>
                  <li class="nav-item"> <a class="nav-link" href="privacy.html">Privacy Policy</a></li>
                  <li class="nav-item"> <a class="nav-link" href="faq.html">Faq</a></li>
                  <li class="nav-item"> <a class="nav-link" href="vision.html">Vision</a></li>
                  <li class="nav-item"> <a class="nav-link" href="services.html">Services</a></li>
                  <li class="nav-item"> <a class="nav-link" href="blogs.html">Blogs</a></li>

                </ul>
              </div>
       </li>
      <li class="nav-item">
      <a class="nav-link" href="contact-us.html">
        <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
        <span class="menu-title">Contact Us List</span>
      </a>
    </li>  
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a onclick="return logout();" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Log Out</span></a>
      </div>
    </li>
  </ul>
</nav>